JWT_SECRET_KEY=GENERATE_A_LONG_RANDOM_SECRET
KAKAO_REST_API_KEY=YOUR_KAKAO_REST_API_KEY
KAKAO_WEB_REDIRECT_URI=http://localhost:8001/auth/kakao/callback
KAKAO_NATIVE_REDIRECT_URI=http://YOUR_PC_LAN_IP:8001/auth/kakao/callback
KAKAO_DEFAULT_RETURN_URI=http://localhost:8081
KAKAO_CLIENT_SECRET_REQUIRED=true
KAKAO_CLIENT_SECRET=YOUR_KAKAO_CLIENT_SECRET
